<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link href="/css/404.css" rel="stylesheet">
    <script src="/js/module_undefined.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/box2dweb@2.1.0-b/box2d.min.js"></script>
</head>
<body class="grey-bg">

  <div class="container">
    <div class="error-box white-bg">
      <div class="error-animation">
        <canvas id="canvas" width="800" height="372"></canvas>
        <div class="planet"></div>
        <div class="ufo">
          <div class="ufo-body"></div>
          <div class="ufo-light"></div>
        </div>
      </div>
      <h1>404</h1>
      <p>Oops! The page you're looking for is not here.</p>
      <a href="/" class="go-home">Go Home</a>
    </div>
  </div>

  <script src="/js/404.js"></script>
</body>
</html>
