<div id="errorModal" class="modal">
  <div class="modal-content">
      <span class="close-btn">&times;</span>
      <p id="errorMsg"></p>
  </div>
</div>
<div id="infoModal" class="modal">
  <div class="modal-content">
      <span class="close-btn info-close-btn">&times;</span>
      <p id="infoMsg"></p>
  </div>
</div>